{% ckan_extends %}

{% block scripts %}
  <script>
    function setCookie(cname,cvalue,exdays) {
      const d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      let expires = "expires=" + d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    
      location.reload();
    }
    
    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    
    function checkCkanFont() {
      let fontSize = getCookie("fontCkan");
      if (fontSize != "") {
        let cssPath = "css/git_font_big.css"

        if (fontSize == 'normal') {
            cssPath = "/css/git_font_normal.css"
            var element = document.getElementById("fontNormal");
            element.classList.add("fontSizeActive");
        } else if (fontSize == 'big') {
            cssPath = "/css/git_font_big.css"
            var element = document.getElementById("fontBig");
            element.classList.add("fontSizeActive");
        } else if (fontSize == 'large') {
            cssPath = "/css/git_font_large.css"
            var element = document.getElementById("fontLarge");
            element.classList.add("fontSizeActive");
        } 
        var element = document.createElement("link");
        element.setAttribute("rel", "stylesheet");
        element.setAttribute("type", "text/css");
        element.setAttribute("href", cssPath);
        let head = document.getElementsByTagName("head")[0]
        if (head != null) {
          head.appendChild(element);
        } else {
        }
        
      } else {
        const isCookieEnabled = navigator.cookieEnabled;
        if (isCookieEnabled == false) {
            alert("กรุณาเปิดใช้งานคุกกี้");
        }
      }
    }

    checkCkanFont()
  </script>
{% endblock %}

{% block styles %}
  {{ super() }}

  {% set type = 'asset' if h.ckan_version() > '2.9' else 'resource' %}
  {% include 'thai_gdc/snippets/thai_gdc_' ~ type ~ '.html' %}
{% endblock %}