{% ckan_extends %}

{% block header_account_notlogged %}
<li>
  <span id="fontNormal" onclick="setCookie('fontCkan', 'normal', 1)">ก</span>
  &nbsp;
  <span id="fontBig" onclick="setCookie('fontCkan', 'big', 1)">ก</span>
  &nbsp;
  <span id="fontLarge" onclick="setCookie('fontCkan', 'large', 1)">ก</span> 
</li>
{{ super() }}
{% endblock %}

{% block header_account_logged %}
<li>
  <span id="fontNormal" onclick="setCookie('fontCkan', 'normal', 1)">ก</span>
  &nbsp;
  <span id="fontBig" onclick="setCookie('fontCkan', 'big', 1)">ก</span>
  &nbsp;
  <span id="fontLarge" onclick="setCookie('fontCkan', 'large', 1)">ก</span> 
</li>
<li>
  <a href="/user" title="{{ _('User') }}">
    <i class="fa fa-user" aria-hidden="true"></i>
    <span class="text">{{ _('User') }}</span>
  </a>
</li>
  {{ super() }}
{% endblock %}